*{

        margin: 0;
        padding: 0;
        font-family: Roboto Condensed;
}

ul,ol {

    list-style: none;

}
body{
    background: url("images/background_image.jpg.avif") no-repeat center center;
    background-size: cover;
    background-color: #1b2c1a;
    font-family: Arial, sans-serif;
}

header{
    padding: 30px 0;
}

header h1
{
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
    font-family: Bebas Neue;
}

/* MAIN-MENU */

#main-menu ul {

    width: 1400px;
    height: 500px;
    margin: 0 auto;
    padding-top: 140px;

}

#main-menu ul li{
    float: left;
    width: 216px;
    height: 500px;
    overflow: hidden;
    position: relative;
    
}

.bw{
    position: absolute;
    left: 0px;
    width: 216px;
    height: 500px;
    cursor: pointer;
    background: url("images/image_black.jpg.webp") no-repeat;
    background-position: -20px 0px;
    opacity: 0.7;
    margin: 5px;
    
    
}
.color{
    position: absolute;
    left: 216px;
    width: 216px;
    height: 500px;
    cursor: pointer;
    background: url("images/image_color.jpg.webp") no-repeat;
    background-position: -20px 0px;
    margin: 5px;
    
}

#part1 div{
    background-position: 0px 0px;
}
#part2 div{
    background-position: -216px 0px;
}
#part3 div{
    background-position: -432px 0px;
}
#part4 div{
    background-position: -648px 0px;
}
#part5 div{
    background-position: -864px 0px;
}
.description{
    position: absolute;
    left: 216px;
    width: 240px;
    height: 460px;
    padding: 20px;
    background: #fff;
    
}
.description h2{
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    }

.description h3{
    margin-top: 30px;
    padding: 10px;
    font-size: 24px;
    background: rgb(1, 17, 78);
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;

    }

.description p{
    padding-top: 35px;
    font-size: 18px;
    color: black;
    text-align: center;
    font-family: Lobster, sans-serif;

}
    






























